@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Source+Sans+Pro&display=swap");
html,
body {
  color: #4b4b4b;
  overflow-x: hidden;
}
p {
  font-family: "Faster One", cursive;
  font-family: "Source Sans Pro", sans-serif;
}

.btn {
  background-color: red;
  outline: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 500;
}

.btn:hover {
  background-color: rgb(100, 194, 231);
  color: white;
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .intro {
    margin-right: 20px;
  }
}

/* ABOUT section */
.about {
  color: white;
  padding: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://cdn.pixabay.com/photo/2015/04/03/13/29/pizza-705061_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about h4 {
  font-size: 1.2em;
  font-weight: 800;
}

/* order section */
.text-bold {
  font-weight: bold;
}

tbody {
  font-size: 15px;
  text-transform: capitalize;
}

/* delivery modal */
#location-input-details {
  display: none;
}

.delivery-option {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: rgb(100, 194, 231);
}

/* footer */
footer {
  background-color: #323232;
  color: white;
}

footer h4 {
  text-transform: uppercase;
  font-size: 1em;
}

footer p {
  line-height: 1.3em;
}